@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
  background-color: #f8f9fa;
}

.hotel-title {
  font-weight: 700;
  color: #8b5e3c;
}

.accordion-button {
  font-weight: 600;
}

.progress-bar {
  font-weight: bold;
  text-align: center;
}
